<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <title>Containers</title>

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

</head>

<body>

   <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
         <a class="navbar-brand fs-5">Docker on Demand V2</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/containers/">Containers</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/images/">Images</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/browse/">Docker Hub</a>
               </li>
            </ul>
         </div>
      </div>
   </nav>



   <div class="container">
      <div class="mt-5 mx-5">
         <h2>Containers</h2>
         <div class="table-responsive">
            <table class="table">
               <thead>
                  <tr>
                     <th scope="col">Name</th>
                     <th scope="col">Image</th>
                     <th scope="col">ID</th>
                     <th scope="col">Cmd</th>
                     <th scope="col">Status</th>
                     <th scope="col">Actions</th>
                  </tr>
               </thead>
               <tbody>
                  {% for item in containers %}

                  {% if item.attrs.Name|slice:"1:" == "docker-django-ui-web-container" %}

                  <tr class="table-secondary">
                     <td>{{item.attrs.Name|slice:"1:"}}</td>
                     <td>{{item.image.tags.0}}</td>
                     <td>{{item.short_id}}</td>
                     <td>{{item.attrs.Config.Cmd.0}}</td>

                     <td>
                        <div class='d-flex'>
                           <span class="btn btn-success btn-sm" id={{item.id}}-span>{{item.status}}</span>
                        </div>

                     </td>
                     <td></td>

                  </tr>

                  {% else %}
                  <tr>
                     <td>{{item.attrs.Name|slice:"1:"}}</td>
                     <td>{{item.image.tags.0}}</td>
                     <td>{{item.short_id}}</td>
                     <td>{{item.attrs.Config.Cmd.0}}</td>
                     <!-- this is a really bad way but im tired... -->
                     {% if item.status == "running" %}
                     <td>
                        <div class='d-flex'>
                           <span class="btn btn-success btn-sm" id={{item.id}}-span>{{item.status}}</span>
                        </div>
                     </td>
                     <td>
                        <div class='d-flex'>
                           <button class="btn btn-info btn-sm me-3"
                              onclick=" window.open(window.location.href+'../console/{{item.id}}') ">Console</button>
                           <button id={{item.id}} class="btn btn-warning btn-sm"
                              onclick="start_stop_remove(this.id,'stop')">Stop </button>
                        </div>
                     </td>
                     {% else %}
                     <td>
                        <div class='d-flex'>
                           <span class="btn btn-secondary btn-sm" id={{item.id}}-span>{{item.status}}</span>
                        </div>
                     </td>
                     <td>
                        <div class='d-flex'>

                           <button id={{item.id}} class="btn btn-success btn-sm me-3"
                              onclick="start_stop_remove(this.id,'start')">Start</button>
                           <button id={{item.id}} class="btn btn-danger btn-sm"
                              onclick="start_stop_remove(this.id,'remove')">Remove</button>
                        </div>
                     </td>
                     {% endif %}
                  </tr>

                  {% endif %}
                  {% endfor %}
               </tbody>
            </table>
         </div>

      </div>
   </div>
   <script>


      function start_stop_remove(id, cmd) {

         document.getElementById(id).innerHTML = "Loading...";
         console.log(id, cmd, id)
         let url = window.location.href + '../start_stop_remove/'
         let data = { 'id': id, 'cmd': cmd };
         let csrftoken = '{{csrf_token}}'

         fetch(url, {
            method: "POST",
            body: JSON.stringify(data),
            dataType: 'json',
            headers: { "X-CSRFToken": csrftoken },

         }).then(res => {
            location.reload();
         }).catch(err => {
            alert("Encountered an error when starting/stoping container")
         });
      }

   </script>
</body>

</html>